ojcpp/vcprj/
.idea/
ojcpp/cmake-build-debug/
ojcpp/vc/
ojcpp/cmake-build-release/
lc_scala/target/
vc/prj/
lc_scala/project/
vc/cmake-build-debug/
vc/vcprj/
ojscala/target/
ojscala/.settings/
ojjava/target/
ojjava/.settings/
ojjava2/.settings/
ojjava/.classpath
ojjava/.project
ojjava2/.classpath
ojjava2/.project
ojjava2/log
ojjava2/ojjava2.iml
ojscala/.classpath
ojscala/.project
out
.vscode/settings.json
golang/golang
*.class
